	// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 17px; // Body Font Size
$textcolor: #fff; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$SFProDisplay: SFProDisplay, sans-serif; // SFProDisplay Font Family
$ubuntu: Ubuntu sans-serif; // Ubuntu Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/fullpage.js/dist/fullpage.css';
@import '../libs/slick/slick.scss';
@import '../libs/fullpage/fullpage.css';
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('SFProDisplay', normal, 300, '../fonts/SFProDisplay-Light.woff2');
@include font('SFProDisplay', normal, 300, '../fonts/SFProDisplay-Light.woff');
@include font('SFProDisplay', normal, 400, '../fonts/SFProDisplay-Regular.woff2');
@include font('SFProDisplay', normal, 400, '../fonts/SFProDisplay-Regular.woff');
@include font('SFProDisplay', normal, 500, '../fonts/SFProDisplay-Medium.woff2');
@include font('SFProDisplay', normal, 500, '../fonts/SFProDisplay-Medium.woff');
@include font('SFProDisplay', normal, 600, '../fonts/SFProDisplay-Semibold.woff2');
@include font('SFProDisplay', normal, 600, '../fonts/SFProDisplay-Semibold.woff');
@include font('SFProDisplay', normal, 700, '../fonts/SFProDisplay-Bold.woff2');
@include font('SFProDisplay', normal, 700, '../fonts/SFProDisplay-Bold.woff');

%ubuntu-light {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

%ubuntu-regular {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

%ubuntu-medium {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}

%ubuntu-bold {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

%sf-regular {
	font-family: 'SFProDisplay-Regular', sans-serif;
	font-weight: 400;
}

%sf-semibold {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
}

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,*::before, *::after {
	box-sizing: inherit;
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
}

body {
	min-width: 320px;
	overflow-x: hidden;
	@extend %ubuntu-light;
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 26px;
	overflow-x: hidden;
	color: $textcolor;
}

.container {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

.page-section {
	position: relative;
	background-image: url('../images/src/page-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	&::before {
		content: '';
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		background: linear-gradient(119.35deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
		opacity: 0.15;
	}
	&__wrapper {
		min-height: 100vh;
		position: relative;
		z-index: 1;
		padding: 74px 0 50px;
	}
}

.title {
	@extend %sf-regular;
	font-size: 44px;
	line-height: 53px;
	margin-bottom: 55px;
	padding-left: 25px;
	padding-top: 50px;
}

.scroll__btn {
	padding: 13px 0 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}