.specification {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 25px;
	}
	&__item--center {
		margin-left: -15px;
		margin-right: -15px;
	}
	&__box {
		position: relative;
		margin-top: 10px;
		width: 280px;
		&::before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: contain;
		}
		&-2 {
			margin-top: 140px;
		}

		&-4 {	
		margin-top: 160px;
		}

		&-1::before {
			background-image: url('../images/dest/pointer-1.svg');
			width: 229px;
			height: 114px;
			right: -140px;
			top: 16px;

		}
		&-2::before {
			background-image: url('../images/dest/pointer-2.svg');
			width: 345px;
			height: 81px;
			right: -308px;
			top: -65px;
		}
		&-3::before {
			background-image: url('../images/dest/pointer-3.svg');
			width: 258px;
			height: 103px;
			left: -299px;
			top: 16px;
		}
		&-4::before {
			background-image: url('../images/dest/pointer-4.svg');
			width: 124px;
			height: 89px;
			left: -172px;
			top: -73px;
		} 

		&-title {
			font-size: 21px;
			line-height: 28px;
			@extend %ubuntu-bold;
			margin-bottom: 10px;
		}
		&-text {
			font-weight: 300;
			font-size: 15px;
			line-height: 18px;
		}
	}
}